@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

img {
  /* max-width: 100%; */
  user-select: none;
}

/* Variables */

:root {
  /* Font Size */
  --font-size-1-5xs: 0.1rem;
  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.75rem; /* Tailwind default */
  --font-size-sm: 0.875rem; /* Tailwind default */
  --font-size-md: 1rem;
  --font-size-md-1: 1.1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-2-2xl: 2.2rem;
  --font-size-2-4xl: 2.4rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;
  --font-size-4-5xl: 4.5rem;

  /* Colors */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --gray-bg: hsl(0, 0%, 95%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

/* Styles */
html,
body {
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: clip;
  overflow-y: scroll;
}

#link-shortener {
  background-image: url('./images/bg-boost-mobile.svg');
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 100% 50dvh;
}

@media (min-width: 48em) {
  #link-shortener {
    background-size: 100dvw 50dvh;
    background-image: url('./images/bg-shorten-desktop.svg');
  }
}

@media (min-width: 64em) {
  #link-shortener {
    background-size: 100dvw 35dvh;
    background-image: url('./images/bg-shorten-desktop.svg');
  }
}

#link-shortener-today {
  background-image: url('./images/bg-boost-mobile.svg');
  background-color: var(--dark-violet);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 80% 60dvh;
}

@media (min-width: 32em) {
  #link-shortener-today {
    background-size: 80% 50dvh;
  }
}

@media (min-width: 48em) {
  #link-shortener-today {
    background-size: 100dvw 50dvh;
    background-image: url('./images/bg-shorten-desktop.svg');
  }
}

/* Loader */
.container {
  height: 5vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  animation: spin 2s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background: #3498db;
  animation: bounce 2s infinite ease-in-out;
}

.loader::after {
  left: -0.625rem;
  background: #e74c3c;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.25rem);
  }
}
